@{ 
    ViewData["Title"] = "Thank you for your purchase";
}

<h1>Thank You for your purchase!</h1>

<div>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Product")'">Browse more products</button>
</div>

<div>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Product")'">Home Page</button>
</div>