<form action="@Url.Action("AddBalance")" method="post">
  <div class="form-group">
    <label for="amount" class="form-label">Add Balance</label>
    <div class="input-group">
      <span class="input-group-text">$</span>
      <input type="text" id="amount" name="amount" class="form-control" placeholder="Enter amount" />
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </div>
</form>
