<form action="@Url.Action("AddBalance")" method="post">
    <label for="amount">Amount to add:</label>
    <input type="text" id="amount" name="amount" />
    <button type="submit">Add Balance</button>
</form>
