
@{
    ViewData["Title"] = "Home Page";
}

@*<style>
    #container-round-white {
        background-color: #FFFFFF;
        border-radius: 15px;
        padding: 20px;
        height: auto; 
    }
    .slideshow-container {
        position: relative;
        height: 45vh;
        max-height: 600px;
        overflow: hidden;
    }

    .mySlides {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 1s;
        width: 100%;
    }

    .mySlides.fade {
        opacity: 1;
    }

    .mySlides img {
        display: block;
        height: auto;
        max-width: 100%;
        margin: auto;
    }

    .text-center.container.py-5 {
        background-color: #FFFFFF;
        border-radius: 15px;
    }

    .product-image {
        width: 100%;
        height: auto;
        max-height: 501px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    /* Responsive adjustments */
    @@media (max-width: 992px) {
        .slideshow-container {
            height: 35vh;
        }
    }

   @@media (max-width: 768px) {
        .slideshow-container {
            height: 25vh;
        }
    }

    @@media (max-width: 576px) {
        .mySlides {
            position: relative;
            transform: none;
        }

        .slideshow-container {
            height: 20vh;
            max-height: 300px;
        }
    }
</style>*@
<style>
    /* Define common styles */
    #container-round-white {
        background-color: #FFFFFF;
        border-radius: 15px;
        padding: 20px;
        height: auto; 
    }

    .slideshow-container {
        position: relative;
        max-height: 600px;
        overflow: hidden;
    }

    .mySlides {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 1s;
        width: 100%;
    }

    .mySlides.fade {
        opacity: 1;
    }

    .mySlides img {
        display: block;
        height: auto;
        max-width: 100%;
        margin: auto;
    }

    .text-center.container.py-5 {
        background-color: #FFFFFF;
        border-radius: 15px;
    }

    .product-image {
        width: 100%;
        height: auto;
        max-height: 501px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    /* Responsive adjustments */

    /* Mobile */
    @@media (max-width: 576px) {
        .slideshow-container {
            height: 200px;
            max-height: none;
        }

        .mySlides {
            position: relative;
            transform: none;
        }

        .product-image {
            max-height: 250px;
        }
    }

    /* Tablet */
    @@media (min-width: 576px) and (max-width: 992px) {
        .slideshow-container {
            height: 300px;
        }

        .product-image {
            max-height: 350px;
        }
    }

    /* Desktop */
    @@media (min-width: 992px) {
        .slideshow-container {
            height: 450px;
        }

        .product-image {
            max-height: 501px;
        }
    }
</style>

<div class="slideshow-container">
    <div id="container-round-white" class="mySlides fade">
        <img src="~/images/razersale.png" />
    </div>
    <div id="container-round-white" class="mySlides fade">
        <img src="~/images/spring.png">
    </div>
</div>

<div class="text-center container py-5">
            
  <h1>Our favorite games!</h1>
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4">
      <div id="card-round-borders" class="card">
        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
          <a href="Product/Details/1" > <img src="https://gamefaqs.gamespot.com/a/box/3/1/9/825319_front.jpg" id="card-round-borders " class="product-image w-100 img-thumbnail" /> </a>   
        </div>
        <div class="card-body">
          <a  class="text-reset">
            <h5 class="card-title mb-3">Elden Ring</h5>
          </a>        
            <h6 class="mb-3">PC</h6>
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-12 mb-4">
      <div id="card-round-borders" class="card">
        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
          <a href="Product/Details/3" > <img src="https://media.gamestop.com/i/gamestop/god-of-warHeroTM/god-of-war.jpg?$POI$&w=768&aspect=.66:1" id="card-round-borders " class="product-image w-100 img-thumbnail" /> </a>   
        </div>
        <div class="card-body">
          <a  class="text-reset">
            <h5 class="card-title mb-3">God of War</h5>
          </a>        
            <h6 class="mb-3">PC</h6>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md-12 mb-4">
      <div id="card-round-borders" class="card">
        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
          <a href="Product/Details/4" > <img src="https://m.media-amazon.com/images/M/MV5BZDI2ZDAwNDUtN2JhOC00NDg5LWIwZjItOGY0N2Y0YzVmN2M0XkEyXkFqcGdeQXVyMTA0MTM5NjI2._V1_FMjpg_UX1000_.jpg" id="card-round-borders " class="product-image w-100 img-thumbnail" /> </a>   
        </div>
        <div class="card-body">
          <a  class="text-reset">
            <h5 class="card-title mb-3">NieR: Automata</h5>
          </a>        
            <h6 class="mb-3">PC</h6>
          </div>
        </div>
    </div>
  </div>

</div>

<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  const slides = document.getElementsByClassName("mySlides");
  for (let i = 0; i < slides.length; i++) {
    slides[i].classList.remove("fade");
  }
  slideIndex++;
  if (slideIndex > slides.length) { slideIndex = 1 }
  slides[slideIndex - 1].classList.add("fade");
  setTimeout(showSlides, 3400); 
}
</script>