
@{ 
    ViewData["Title"] = "CreateSuccess";
}

<h1>You successfully added a product</h1>
<div>
    <a asp-action="Create">Add a new product</a>
</div>

<div>
    <a asp-action="Index">List all</a>
</div>